/* Reset de estilos básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Colores del Atlético Bucaramanga */
:root {
    --color-primary: #9e1b32; /* Rojo primario */
    --color-secondary: #ffe200; /* Amarillo secundario */
    --color-bg: #f0f0f0; /* Color de fondo */
    --color-text: #333; /* Color de texto principal */
}

/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
    line-height: 1.6;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
}

header img {
    width: 100px; /* Ajusta el tamaño del logo según sea necesario */
    height: auto;
}

header h1 {
    font-size: 2.5rem;
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: bold;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: var(--color-secondary);
}

section {
    background-color: #fff;
    padding: 40px 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--color-primary);
}

section p {
    font-size: 1.1rem;
    line-height: 1.8;
}

footer {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 0.9rem;
}
